MyClient/Service References/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="M1" type="xs:int" />
      <xs:element minOccurs="0" name="M2" type="xs:int" />
      <xs:element minOccurs="0" name="M3" type="xs:int" />
      <xs:element minOccurs="0" name="Sid" type="xs:int" />
      <xs:element minOccurs="0" name="StudenName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
  <xs:complexType name="ArrayOfPollens">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pollens" nillable="true" type="tns:Pollens" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPollens" nillable="true" type="tns:ArrayOfPollens" />
  <xs:complexType name="Pollens">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pollen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pollens" nillable="true" type="tns:Pollens" />
  <xs:complexType name="ArrayOfPollen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pollen" nillable="true" type="tns:Pollen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPollen" nillable="true" type="tns:ArrayOfPollen" />
  <xs:complexType name="Pollen">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name_pollen" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pollen" nillable="true" type="tns:Pollen" />
</xs:schema>